@import url('https://fonts.googleapi.com/specimen/Poppins');
@import url('https://fonts.googleapi.com/specimen/Open+Sans');
body{
    background-image: url("./images/bg-desktop.svg") ;
    background-color: rgb(103,76,180);
}

h1 {
    
    font-family: "Poppins";
    font-weight: 600;
    color:white;
    text-align: left;
    padding-top: 16%;
    padding-left: 60%;
    padding-right: 12%;
    border: none;
    
}

.img{
    float: left;
    width: 60%;
    display: flex;
    padding-left: 4.5%;
    padding-top: 12.5%;
    
}

.context{
    font-size: 18px;
    padding-top: 3.5%;
    padding-left: none;
    padding-right: 1.2%;
    text-align: left;
    font-weight: 400;
    font-family: "Open+Sans";
    color: white;
}
.attribution { font-size: 11px; text-align: center; }

.attribution a { color: hsl(228, 45%, 44%); }