@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@300&display=swap');
.display-desktop{
    display: inherit !important;
}

body{
    background-image: url("./images/bg-desktop.svg") ;
    background-color: rgb(103,76,180);
}


h1 {
    
    font-family: 'Poppins';
    font-weight: 600;
    color:white;
    text-align: left;
    padding-top: 190px;
    padding-left: 600px;
    padding-right: 10px;
    border: none;
    
}

.img{
    float: left;
    width: 750px;
    display: flex;
    padding-left: 60px;
    padding-top: 170px;
    
}

.sub{
    float: inherit;
    
}

.submit{
    border-style: none;
    color: violet;
    border-radius: 30px;
    padding-right: 40px;
    padding-left:40px;
}
button:hover{
    color: white;
    border-style: none;
    background-color: violet;
}

.context{
    font-size: 18px;
    padding-top: 30px;
    padding-left: none;
    padding-right: 50px;
    text-align: left;
    font-weight: 400;
    font-family: "Open Sans";
    color: white;
}

.twitter{
    border-color: white;
    color: white;
    background-color: transparent;
    border-radius: 100%;
    float: right;
    padding: 8px;
    margin-top: 6%;
}

.instagram{
    border-color: white;
    color: white;
    background-color: transparent;
    border-radius: 100%;
    float: right;
    padding: 8px;
    margin-right: 15px;
    margin-top: 6%;
}

.face{
    border-color: white;
    color: white;
    background-color: transparent;
    border-radius: 100%;
    float: right;
    margin-right: 15px;
    padding: 8px;
    margin-top: 6%;
}

.attribution { 
    font-size: 11px; text-align: center;
    padding-top: 10%;
}

.attribution a { color: hsl(228, 45%, 44%); }


@media screen and (max-width: 1000px) {
    .img{
        padding: 0vw;
        margin: 0%;
        margin-top: 10vw;
        margin-left: 15vw;
        align-content: center;
        align-items: center;
        width: 90vw;
        flex-wrap: wrap;
    }
    .mobile{
        margin-top: 9px;
        padding: 0%;
        text-align: center;
        flex-wrap: wrap;
    }
    .submit {
        align-content: center;
        align-items: center;
        padding-inline: 10%;
        font-size: 40px;
        margin-left: 30vw;
    }
    .social{
        padding: 0%;
        width: 80vw;
    }

    .face, .instagram, .twitter{
        align-items: center;
        font-size: 100px;
        align-content: center;
        margin: 40px;
    }

    .face,.instagram{
        padding-right:25px ;
        padding-left:25px ;
    }

    .attribution{
        display: none;
    }
    body{
        background-image: url("./images/bg-mobile.svg");
        width: 100vw;
        align-items: center;
        align-content: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .context{
        padding: 0%;
        margin: auto;
        margin-bottom: 10vw;
    }
}